@import '@styles/mixins.scss';

.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.5rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #333;

  @include mobile {
    margin: 2rem 0;
  }

  .icon {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 6px;
  }

  .image {
    margin-right: 2rem;
    border-radius: var(--border-radius-large);

    @include mobile {
      display: none;
      margin-right: 1rem;
    }
  }

  .head {
    display: flex;
    justify-content: space-between;

    .title {
      @include font-size-weight(20, 26, 600);
      @include line-clamp(1);

      @include mobile {
        @include font-size-weight(18, 24, 600);
      }
    }
  }

  .readingTime {
    display: flex !important;

    align-items: center;
    color: var(--dark-text-secondary);
    @include font-size-weight(16, 22, 400);
    @include line-clamp(1);

    @include mobile {
      @include font-size-weight(14, 20, 400);
    }
  }

  .date {
    margin-top: 6px;
    color: var(--dark-text-secondary);
    @include font-size-weight(16, 22, 400);
    @include line-clamp(1);

    @include mobile {
      margin-top: 4px;
      @include font-size-weight(14, 18, 400);
    }
  }

  .description {
    margin-top: 14px;
    color: var(--dark-text-secondary);
    @include font-size-weight(16, 24, 400);
    @include line-clamp(3);

    @include mobile {
      margin-top: 10px;
      @include font-size-weight(16, 24, 400);
      @include line-clamp(2);
    }
  }

  .footer {
    margin-top: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tags {
    display: flex;
    justify-content: flex-start;

    .tag {
      opacity: 0.9;
      margin-right: 8px;
      padding: 4px 8px;
      border-radius: var(--border-radius-small);
      background-color: var(--tag);
      color: var(--dark-text-primary);
      @include font-size-weight(14, 20, 400);
    }
  }
}
