@import "@styles/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  margin: 0 32px 32px 0;
  border-radius: var(--border-radius-large);
  min-height: min-content;
  width: calc(50% - 16px);
  padding: 18px;

  background-color: var(--background-light);
  border: 1px solid var(--border-light);

  @include dark-mode {
    background-color: rgba(17, 17, 17, 0.5);
    border: 1px solid var(--border-dark);
  }

  &:hover {
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
    border: 1px solid black;

    @include dark-mode {
      border: 1px solid white;
    }
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  @include mobile {
    margin: 0.5rem 0;
    width: 100%;
  }

  .title {
    @include font-size-weight(22, 28, 500);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      margin-right: 8px;
    }

    @include mobile {
      @include font-size-weight(20, 24, 500);
    }
  }

  .description {
    margin-top: 10px;
    @include font-size-weight(17, 26, 400);
    @include line-clamp(1);
    color: var(--light-text-secondary);

    @include dark-mode {
      color: #aaaaaa;
    }

    @include mobile {
      margin-top: 12px 0;
      @include line-clamp(1);
      @include font-size-weight(16, 22, 400);
    }
  }
}
