@import "@styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  @include font-size-weight(20, 30, 400);
  text-align: left;
  margin: 6rem 0 5.5rem 0;

  @include dark-mode {
    color: var(--dark-text-primary);
  }

  @include mobile {
    padding: 1.5rem 1rem;
    margin: 3rem 0 5rem 0;
  }

  .title {
    @include font-size-weight(48, 54, 800);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .projects {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 3rem;
    }
  }
}
