@import '@styles/mixins.scss';

.container {
  min-height: 100vh;
  text-align: left;

  @include mobile {
    padding: 0rem;
  }

  @include desktop {
    width: 780px;
    margin: 0 auto;
  }
}

.nowPlaying {
  position: fixed;
  padding: 0px 12px;
  border-radius: 40px;
  background-color: #171717;
  bottom: 1rem;
  left: 1rem;
  backdrop-filter: blur(18px) saturate(132%);
  -webkit-backdrop-filter: blur(18px) saturate(132%);
  background-color: rgba(17, 17, 17, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);

  @include mobile {
    display: none;
  }
}
