@import "@styles/mixins";

.projectCard {
  display: flex;
  flex-direction: column;
  margin: 0 36px 36px 0;
  cursor: pointer;
  border-radius: var(--border-radius-large);
  min-height: min-content;
  width: calc(50% - 18px);
  background-color: var(--background-light);
  border: 1px solid var(--border-light);
  z-index: 1;

  @include dark-mode {
    background-color: var(--background-dark);
    border: 1px solid var(--border-dark);
  }

  @include mobile {
    width: 100%;
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 32px;
    min-height: min-content;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
    border: 1px solid black;

    @include dark-mode {
      border: 1px solid white;
    }

    .icon {
      transform: translateX(6px);
    }
  }

  .footer {
    color: var(--dark-text-secondary);
    margin-top: 12px;

    &cta {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include font-size-weight(18, 26, 300);

      .github {
        vertical-align: middle;
        margin-left: 10px;
        height: 20px;
        width: 20px;
      }
    }
  }
}

.icon {
  height: 20px;
  width: 20px;
  color: black !important;
  vertical-align: middle;
  margin: 3px 0 0 0px;
  transition: all 0.3s ease-in-out;
  stroke-width: 40px;

  @include dark-mode {
    color: white !important;
  }

  path {
    stroke: #000;

    @include dark-mode {
      stroke: #fff;
    }
  }
}
