@import '@styles/mixins';

.projectCard {
  display: flex;
  flex-direction: column;
  margin-right: 48px;
  border: 1px solid #f3f3f3;
  border-radius: var(--border-radius-large);
  min-height: 400px;

  background-color: #171717;
  backdrop-filter: blur(18px) saturate(132%);
  -webkit-backdrop-filter: blur(18px) saturate(132%);
  background-color: rgba(17, 17, 17, 0.5);
  border: 1px solid #333;

  @include mobile {
    width: 100%;
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 32px;
    min-height: min-content;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 14px rgba(27, 64, 156, 0.543);
  }

  .image {
    border-radius: var(--border-radius-large);
    aspect-ratio: 4/3;
  }

  .body {
    flex-direction: column;
    justify-content: flex-end;
    padding: 18px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &Title {
        @include font-size-weight(22, 28, 500);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          margin-right: 8px;
        }

        @include mobile {
          @include font-size-weight(20, 24, 500);
        }
      }

      &Link {
        height: 18px;
        width: 18px;
        vertical-align: middle;
      }
    }

    .description {
      margin: 10px 0;
      @include font-size-weight(17, 26, 400);
      color: #aaaaaa;
      @include line-clamp(3);

      @include mobile {
        margin: 12px 0;
        @include line-clamp(3);
        @include font-size-weight(16, 22, 400);
      }
    }

    .footer {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        margin-top: 22px;
      }

      .stack {
        display: flex;

        &Item {
          margin-right: 10px;
          height: 18px;
          width: 18px;
          vertical-align: middle;
        }
      }

      .expand {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        background-color: rgb(41, 41, 41);
        border-radius: var(--border-radius-large);
      }
    }
  }
}

.icon {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin-left: 2px;
}
