@import '@styles/mixins';

.projectCard {
  // width: calc(100% / 3 - 24px);
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-right: 48px;
  border: 1px solid #f3f3f3;
  border-radius: var(--border-radius-large);
  // max-width: 100%;
  min-height: 300px;

  background-color: #171717;
  bottom: 1rem;
  left: 1rem;
  backdrop-filter: blur(18px) saturate(132%);
  -webkit-backdrop-filter: blur(18px) saturate(132%);
  background-color: rgba(17, 17, 17, 0.75);
  // border: 1px solid rgba(255, 255, 255, 0.125);

  .image {
    border-radius: var(--border-radius-large);
  }

  .body {
    // display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px 14px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &Title {
        @include font-size-weight(20, 26, 600);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          margin-right: 8px;
        }
      }

      &Link {
        height: 18px;
        width: 18px;
        vertical-align: middle;
      }
    }

    .description {
      margin: 10px 0;
      @include font-size-weight(16, 26, 300);
      @include line-clamp(3);
    }

    .footer {
      margin-top: 26px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .stack {
        display: flex;

        &Item {
          margin-right: 10px;
          height: 18px;
          width: 18px;
          vertical-align: middle;
        }
      }

      .expand {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        background-color: rgb(41, 41, 41);
        border-radius: var(--border-radius-large);
      }
    }
  }
}

.icon {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin-left: 2px;
}
