@import '@styles/mixins';

.projectCard {
  display: flex;
  flex-direction: column;
  margin: 0 36px 36px 0;
  border: 1px solid #f3f3f3;
  border-radius: var(--border-radius-large);
  min-height: min-content;
  width: calc(50% - 18px);

  background-color: #171717;
  background-color: rgba(17, 17, 17, 0.5);
  border: 1px solid #333;

  @include mobile {
    width: 100%;
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 32px;
    min-height: min-content;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 14px rgba(27, 64, 156, 0.543);
  }

  .mainIcon {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    margin-right: 1rem;

    color: var(--link);
    border: 1px solid var(--link);

    // color: var(--mint);
    // border: 1px solid var(--mint);

    border-radius: var(--border-radius-medium);
    padding: 0.5rem;
  }

  .image {
    border-radius: var(--border-radius-large);
    aspect-ratio: 4/3;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .body {
    flex-direction: column;
    justify-content: flex-end;
    padding: 18px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &Title {
        @include font-size-weight(22, 28, 500);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;

        p {
          margin-right: 8px;
        }

        @include mobile {
          @include font-size-weight(20, 24, 500);
        }
      }

      &Link {
        height: 18px;
        width: 18px;
        vertical-align: middle;
      }
    }

    .description {
      margin: 1rem 0;
      @include font-size-weight(17, 26, 400);
      color: #aaaaaa;
      @include line-clamp(3);

      @include mobile {
        margin: 12px 0;
        @include line-clamp(3);
        @include font-size-weight(16, 22, 400);
      }
    }

    .footer {
      // margin-top: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        // margin-top: 22px;
      }

      .stack {
        display: flex;

        &Item {
          margin-right: 14px;
          height: 18px;
          width: 18px;
          vertical-align: middle;
        }
      }

      .expand {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        background-color: rgb(41, 41, 41);
        border-radius: var(--border-radius-large);
      }
    }
  }
}

.icon {
  height: 20px;
  width: 20px;
  color: white !important;
  vertical-align: middle;
  margin: 2px 0 0 2px;
  rotate: -45deg;

  path {
    stroke: #fff;
  }
}
