@import "@styles/mixins.scss";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blur {
  0% {
    opacity: 0;
    filter: brightness(1) blur(20px);
  }
  33% {
    opacity: 1;
    filter: brightness(1) blur(13px);
  }
  66% {
    opacity: 1;
    filter: brightness(1) blur(6px);
  }
  100% {
    opacity: 1;
    filter: brightness(1) blur(0);
  }
}

.title {
  @include font-size-weight(62, 70, 800);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation:
    gradient 7s ease infinite,
    blur 1.6s linear;
  transition: all 0.3s ease-in-out;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  text-align: left;
  width: 100%;

  @include mobile {
    @include font-size-weight(42, 50, 700);
  }
}
