@import '@styles/mixins.scss';

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main {
  flex: 1;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .rainbowText {
    // user-select: none;
    @include font-size-weight(100, 150, 650);
    // background: repeating-linear-gradient(
    //   -45deg,
    //   red 0%,
    //   rgb(0, 255, 0) 14.28%,
    //   rgb(0, 255, 255) 21.4%,
    //   cyan 28.56%,
    //   blue 35.7%,
    //   magenta 42.84%,
    //   red 50%
    // );
    // background: repeating-linear-gradient(
    //   -45deg,
    //   rgb(223, 31, 108) 0%,
    //   rgb(0, 255, 255) 10%,
    //   rgb(0, 102, 255) 30%,
    //   rgb(27, 65, 234) 40%,
    //   rgb(223, 31, 108) 50%
    // );
    // background-size: 600vw 600vw;

    // animation: slide 7s linear infinite forwards;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .tagline {
    @include font-size-weight(26, 20, 400);
    margin-bottom: 58px;
    text-align: left;

    @include dark-mode {
      color: var(--dark-text-primary);
    }
  }

  .about {
    word-wrap: break-word;
    @include font-size-weight(20, 30, 400);
    text-align: left;

    @include dark-mode {
      color: var(--dark-text-primary);
    }
  }
}

@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

.gradient {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #be123c;
  --tw-gradient-to: rgb(190 18 60 / 0);
  --tw-gradient-to: #7e22ce;
  // opacity: 0.6;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-from: #93c5fd;
  --tw-gradient-to: rgb(147 197 253 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  aspect-ratio: 1 / 1;
  // z-index: -50;
  width: 100%;
  max-width: 1024px;
  --tw-blur: blur(64px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  bottom: calc(100% - 200px);
  // position: fixed;
}
