@import "@styles/mixins.scss";

.container {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include mobile {
    padding: 0rem;
  }

  @include desktop {
    width: 720px;
    margin: 4rem auto 0 auto;
  }
}

.nowPlaying {
  position: fixed;
  padding: 1.125rem 1.5rem;
  border-radius: var(--border-radius-large);
  bottom: 1.2rem;
  left: 1rem;
  backdrop-filter: blur(18px) saturate(132%);
  -webkit-backdrop-filter: blur(18px) saturate(132%);
  background-color: var(--background-light);
  border: 1px solid var(--border-light);

  @include dark-mode {
    background-color: var(--background-dark);
    border: 1px solid var(--border-dark);
  }

  @include mobile {
    display: none;
  }
}
