@import '@styles/mixins';

// .vertical {
//   display: flex;
//   flex-direction: column;
// }

.expand {
  width: 100%;
  background-color: #171717;
  background-color: rgba(17, 17, 17, 0.75);
  padding: 0;
  margin: 0;
  border: 0;
  padding: 12px 0;
  @include font-size-weight(16, 22, 300);
  color: var(--dark-text-secondary);
  border-bottom-left-radius: var(--border-radius-large);
  border-bottom-right-radius: var(--border-radius-large);
}

.card {
  width: 100%;
  margin-bottom: 30px;
  border-radius: var(--border-radius-large);
  border: 1px solid var(--border-dark);
  transition: all 0.4s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }
}

.experience {
  display: flex;
  height: min-content !important;
  flex-direction: row;
  padding: 32px;
  border-radius: var(--border-radius-large);
  height: 240px;
  overflow: hidden;
  background-color: #171717;
  background-color: rgba(17, 17, 17, 0.75);
  @include font-size-weight(18, 24, 400);
  border-radius: var(--border-radius-large);

  @include mobile {
    margin-left: 0;
    height: 220px;
    padding: 18px;
  }

  .left {
    margin-right: 24px;

    @include mobile {
      display: none;
    }
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .primary {
        @include font-size-weight(18, 24, 500);

        @include mobile {
          display: none;
        }
      }

      .primaryMobile {
        @include desktop {
          display: none;
        }

        @include mobile {
          @include font-size-weight(18, 24, 500);
        }
      }

      .secondary {
        @include font-size-weight(18, 24, 400);
        // color: #a9a9a9;
        color: var(--dark-text-secondary);

        @include mobile {
          @include font-size-weight(16, 20, 400);
        }
      }

      &Left {
        text-align: left;
      }

      &Right {
        text-align: right;
      }
    }

    .body {
      color: var(--dark-text-secondary);
      margin-top: 24px;

      @include mobile {
        margin-top: 16px;
        @include font-size-weight(16, 22, 400);
      }
    }

    li {
      list-style-type: disc;
      margin-bottom: 6px;
      @include font-size-weight(17, 26, 400);
      color: var(--dark-text-secondary);

      @include mobile {
        @include font-size-weight(16, 22, 400);
      }
    }
  }
}
