@import '@styles/mixins';

// .vertical {
//   display: flex;
//   flex-direction: column;
// }

.expand {
  width: 100%;
  background-color: #171717;
  background-color: rgba(17, 17, 17, 0.75);
  padding: 0;
  margin: 0;
  border: 0;
  padding: 12px 0;
  @include font-size-weight(16, 22, 300);
  color: var(--dark-text-secondary);
}

.card {
  margin-bottom: 30px;
  border-radius: var(--border-radius-large);
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all 0.4s ease-in-out;
}

.experience {
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
  border-radius: var(--border-radius-large);
  height: 250px;
  overflow: hidden;
  background-color: #171717;
  background-color: rgba(17, 17, 17, 0.75);
  @include font-size-weight(18, 24, 400);
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &Expanded {
    display: flex;
    flex-direction: row;
    padding: 32px 24px 0 24px;
    border-radius: var(--border-radius-large);
    background-color: #171717;
    background-color: rgba(17, 17, 17, 0.75);
    @include font-size-weight(18, 24, 400);
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: min-content;

    @include mobile {
      margin-left: 0;
      // margin-bottom: 32px;
      padding: 18px;
    }

    .left {
      margin-right: 24px;

      @include mobile {
        display: none;
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      .header {
        // position: sticky;
        // top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .primary {
          @include font-size-weight(18, 24, 500);

          @include mobile {
            display: none;
          }
        }

        .primaryMobile {
          @include desktop {
            display: none;
          }

          @include mobile {
            @include font-size-weight(20, 24, 500);
          }
        }

        .secondary {
          @include font-size-weight(18, 24, 400);
          // color: #a9a9a9;
          color: var(--dark-text-secondary);
        }

        &Left {
          text-align: left;
        }

        &Right {
          text-align: right;
        }
      }

      .body {
        margin: 26px auto 0 20px;

        @include mobile {
          margin: 22px auto 0 20px;
        }
      }

      li {
        list-style-type: disc;
        margin-bottom: 6px;
        @include font-size-weight(18, 24, 400);
        color: var(--dark-text-secondary);
      }
    }
  }

  @include mobile {
    margin-left: 0;
    height: 220px;  
    padding: 18px;
  }

  .left {
    margin-right: 24px;

    @include mobile {
      display: none;
    }
  }

  .right {
    display: flex;
    flex-direction: column;

    .header {
      // position: sticky;
      // top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .primary {
        @include font-size-weight(18, 24, 500);

        @include mobile {
          display: none;
        }
      }

      .primaryMobile {
        @include desktop {
          display: none;
        }

        @include mobile {
          @include font-size-weight(20, 24, 500);
        }
      }

      .secondary {
        @include font-size-weight(18, 24, 400);
        // color: #a9a9a9;
        color: var(--dark-text-secondary);
      }

      &Left {
        text-align: left;
      }

      &Right {
        text-align: right;
      }
    }

    .body {
      margin: 26px auto 0 20px;

      @include mobile {
        margin: 22px auto 0 20px;
      }
    }

    li {
      list-style-type: disc;
      margin-bottom: 6px;
      @include font-size-weight(18, 24, 400);
      color: var(--dark-text-secondary);
    }
  }
}
