@import '@styles/mixins.scss';

.card {
  text-align: center !important;
  margin: 1.5rem !important;

  @include mobile {
    margin: 0.5rem !important;
    &:nth-child(n + 9) {
      display: none;
    }
  }

  .icon {
    border: 1px solid var(--border-dark);
    padding: 2rem;
    border-radius: var(--border-radius-large);
    margin: 0 !important;
    width: min-content;
    background-color: var(--background-dark);

    @include mobile {
      margin: 0 !important;
      width: min-content;
      padding: 1rem;
    }
  }

  .name {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;

    @include mobile {
      font-size: 12px;
    }
  }
}
