@import "@styles/mixins.scss";

.card {
  text-align: center;
  margin: 1rem;

  @include mobile {
    margin: 0.5rem;
    &:nth-child(n + 9) {
      display: none;
    }
  }

  .icon {
    border: 1px solid var(--border-dark);
    padding: 2rem;
    border-radius: var(--border-radius-large);
    width: min-content;
    background-color: var(--background-dark);

    @include mobile {
      width: min-content;
      padding: 1rem;
    }
  }

  .name {
    margin-top: 0.5rem;
    @include font-size-weight(16, 24, 400);
    color: var(--dark-text-secondary);

    @include mobile {
      font-size: 12px;
    }
  }
}
