@import "@styles/mixins.scss";

.card {
  text-align: center;
  margin: 1rem;

  @include mobile {
    margin: 0.5rem;
    &:nth-child(n + 9) {
      display: none;
    }
  }

  .icon {
    padding: 2rem;
    border-radius: var(--border-radius-medium);
    width: min-content;
    border: 1px solid var(--border-light);
    background-color: var(--background-light);

    @include dark-mode {
      border: 1px solid var(--border-dark);
      background-color: var(--background-dark);
    }

    @include mobile {
      width: min-content;
      padding: 1rem;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      border: 1px solid black;

      @include dark-mode {
        border: 1px solid white;
      }
    }
  }

  .name {
    margin-top: 0.5rem;
    @include font-size-weight(16, 24, 400);
    color: var(--light-text-secondary);

    @include dark-mode {
      color: var(--dark-text-secondary);
    }

    @include mobile {
      @include font-size-weight(14, 20, 400);
    }
  }
}
