@import '@styles/mixins.scss';

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding: 2rem 1.5rem;

  @include mobile {
    margin-top: 1rem;
    padding: 1.5rem 2rem;
  }
}

.icon {
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin-right: 36px;
}
