.topTracksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trackItem {
  display: flex;
  flex-direction: column;

  &:hover {
    text-decoration: underline;
  }
}
