@import "@styles/mixins.scss";

.info {
  @include flex(center, center);
}

.notPlaying {
  @include flex(space-between, center);
  width: 100%;

  .icon {
    height: 36px;
    width: 36px;

    @include mobile {
      height: 28px;
      width: 28px;
    }
  }

  .title {
    margin-left: 12px;
    text-align: center;
    width: 150px;
    @include font-size-weight(18, 24, 500);
  }
}

.nowPlaying {
  @include flex(space-between, center);
  flex-direction: row;
  min-width: 200px;
  max-width: 100%;
  width: 100%;

  .icon {
    height: 36px;
    width: 36px;

    @include mobile {
      height: 28px;
      width: 28px;
    }
  }

  .title {
    margin-left: 12px;
    text-align: center;
    width: 150px;
    @include font-size-weight(18, 24, 500);
  }
}

.notListening {
  margin-left: 16px;
  font-size: 20px;
  list-style: 26px;
  font-weight: 400;
}

.paused {
  width: 100%;
  @include flex(center, center);
}

.notListening {
  @include font-size-weight(16, 22, 400);
  text-align: left;
  color: var(--light-text-primary);

  @include dark-mode {
    color: var(--dark-text-primary);
  }
}

.currentTrack {
  width: 100%;
  @include flex(flex-start, center);

  .trackInfo {
    display: flex;
    flex-direction: column;
    @include font-size-weight(16, 22, 400);

    @include mobile {
      margin-left: 0;
    }
  }

  .trackTitle {
    @include font-size-weight(16, 22, 500);
    text-align: left;
    color: var(--light-text-primary);
    @include line-clamp(1);

    @include dark-mode {
      color: var(--dark-text-primary);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .trackArtist {
    margin-top: 4px;
    @include font-size-weight(14, 20, 300);
    text-align: left;
    color: var(--light-text-primary);
    @include line-clamp(1);

    @include dark-mode {
      color: var(--dark-text-primary);
    }
  }
}

.track {
  display: flex;
  border-radius: var(--border-radius-large);

  width: 100%;
  justify-content: space-between;

  @include mobile {
    margin: 0;
  }
}
