@import './reset.scss';
@import './mixins.scss';

:root {
  --success: #10b981;
  --primary: #026bdc;
  --border-light: #dedede;
  --border-dark: #333;
  --link: #52a9ff;

  //borders
  --border-radius-small: 6px;
  --border-radius-medium: 8px;
  --border-radius-large: 10px;

  --primary-gradient: linear-gradient(to right, #007fff, #0059b2);

  //background
  --background-dark: rgba(17, 17, 17, 0.5);
  --background-light: #f0f0f081;
  --tag: #026bdc;

  //font-colors
  --dark-text-primary: #ffffff;
  --dark-text-secondary: rgba(255, 255, 255, 0.8);
  --light-text-primary: #000000;
  --light-text-secondary: #4d4d4d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--dark-text-primary);
    background: var(--background-dark);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: var(--light-text-primary);
    background: #ffffff;
  }
}

html,
body {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5) 0px,
    transparent 0
  );

  @include dark-mode {
    background-image: linear-gradient(rgba(45, 52, 64, 0.5) 0px, transparent 0),
      linear-gradient(90deg, rgba(45, 52, 64, 0.5) 0px, #0b0d0f 0);
  }
}

.image {
  height: auto !important;
  border-radius: var(--border-radius-medium);
}

.icon {
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.techIcon {
  height: 46px;
  width: 46px !important;
  margin: 0 !important;
  width: 100%;
  vertical-align: middle;

  @include mobile {
    height: 32px;
    width: 32px !important;
  }
}

.link {
  color: var(--link);
}
