@import '@styles/mixins.scss';

.container {
  min-height: 100vh;
  // padding: 2rem 25.5rem 2rem 27rem;
  text-align: left;

  @include mobile {
    padding: 0rem;
  }

  @include desktop {
    width: 820px;
    margin: 0 auto;
  }
}

.code {
  background: #fafafa;
  border-radius: var(--border-radius-large);
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.nowPlaying {
  position: fixed;
  padding: 0px 12px;
  border-radius: 40px;
  background-color: #171717;
  bottom: 1rem;
  left: 1rem;
  backdrop-filter: blur(18px) saturate(132%);
  -webkit-backdrop-filter: blur(18px) saturate(132%);
  background-color: rgba(17, 17, 17, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  // border-radius: 12px;
  // border: 1px solid rgba(255, 255, 255, 0.125);
}

.subTitle {
  @include font-size-weight(42, 40, 600);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 4rem 0;
}

.projectWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 3rem 0;
  padding: 10px;

  @include mobile {
    flex-direction: column;
  }
}

.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  padding: 10px;
}
