@import '@styles/mixins.scss';

.subTitle {
  @include font-size-weight(42, 40, 600);

  @include mobile {
    @include font-size-weight(28, 32, 600);
  }
}

.section {
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 4rem 0;

  @include mobile {
    margin: 3rem 0;
  }
}

.projectWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 3.5rem;
  // padding: 10px;

  @include mobile {
    flex-direction: column;
    margin-top: 3rem;
    padding: 0;
  }
}

.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  // padding: 10px;

  @include mobile {
    flex-direction: column;
    margin-top: 3rem;
    padding: 0;
  }
}
