@import '@styles/mixins.scss';

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.subTitle {
  @include font-size-weight(34, 38, 700);

  @include mobile {
    @include font-size-weight(26, 30, 700);
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5rem 0;

  @include mobile {
    margin: 4rem 1rem;
  }
}

.projectWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;

  @include mobile {
    flex-direction: column;
    margin-top: 2rem;
    padding: 0;
  }
}

.carousel {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  // padding: 10px;

  @include mobile {
    flex-direction: column;
    margin-top: 2rem;
    padding: 0;
  }
}

.spotify {
  display: none;
  margin: 2rem 1rem;
  padding: 0 1.5rem;

  @include mobile {
    display: block;
    border: 1px solid #f3f3f3;
    border-radius: var(--border-radius-large);
    background-color: #171717;
    backdrop-filter: blur(18px) saturate(132%);
    -webkit-backdrop-filter: blur(18px) saturate(132%);
    background-color: rgba(17, 17, 17, 0.5);
    border: 1px solid #333;
    margin-top: 0;
  }
}
