@import "@styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  @include font-size-weight(20, 30, 400);
  margin: 6rem 0 12rem 0;

  @include dark-mode {
    color: var(--dark-text-primary);
  }

  @include mobile {
    padding: 1.5rem 1rem;
    margin: 3rem 0 3rem 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .title {
    @include font-size-weight(48, 54, 800);
  }

  .more {
    margin: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}
